## working with lists

In [7]:
# declare an empty string
bob = ''

# declare a list
beatles = []

In [8]:
print(type(beatles))

<class 'list'>

In [9]:
beatles = ["John", "Paul", "George", "Ringo", "Stuart"]

In [10]:
print(beatles)

['John', 'Paul', 'George', 'Ringo', 'Stuart']

In [11]:
# calculate number of beatles
number_of_beatles = len(beatles)

# print number of beatles
print("There are", number_of_beatles, "Beatles")

There are 5 Beatles

In [12]:
# print a Beatle
print("The last Beatle is", beatles[len(beatles)-1])
print("The last Beatle is", beatles[-1])

The last Beatle is Stuart
The last Beatle is Stuart

In [13]:
# print the first beatle
print(beatles[0])

John

In [14]:
# Let's remove Stuart
stu = beatles.pop()

# What happened to the Beatles?
print(beatles)
print(stu)

['John', 'Paul', 'George', 'Ringo']
Stuart

In [ ]:
stones = ["Mick", "Ron", "Keith"]

In [ ]:
# add two lists together
supergroup = beatles + stones

# print our new list
print(supergroup)
print(len(supergroup))

## understanding `extend()`

In [4]:
# start fresh with new groups
jackson5 = ['jackie', 'tito', 'jermaine', 'marlon', 'michael']
destiny  = ['beyonce', 'kelly', 'michelle']
divas    = ['alicia', 'maryjblige']
jackson5.pop()
print(jackson5)

['jackie', 'tito', 'jermaine', 'marlon']

In [5]:
# what does extend do?
super = jackson5.extend(destiny)
print("Jackson5:", jackson5)
print("Destiny's Child:", destiny)
print("Supergroup:", super)

# extend() modifies a list in place, it doesn't return a value (i.e., a new list)
# use "+" if you want to create a new list

Jackson5: ['jackie', 'tito', 'jermaine', 'marlon', 'beyonce', 'kelly', 'michelle']
Destiny's Child: ['beyonce', 'kelly', 'michelle']
Supergroup: None

## indexing lists

In [6]:
# make and print a new supergroup, 'destiny_plus'
destiny_plus = destiny + divas
print(destiny_plus)

['beyonce', 'kelly', 'michelle', 'alicia', 'maryjblige']

In [15]:
# use `append()` to add some old men
destiny_plus.append(beatles)
print(destiny_plus)

['beyonce', 'kelly', 'michelle', 'alicia', 'maryjblige', ['John', 'Paul', 'George', 'Ringo']]

In [18]:
## find and print Ringo, who is buried in a list within a list

# prints the beatles
print(destiny_plus[5])

# prints Ringo
print(destiny_plus[5][3], "is one lucky dude")

['John', 'Paul', 'George', 'Ringo']
Ringo is one lucky dude

## loop over a list

In [19]:
# loop over 'destiny_plus'
for person in destiny_plus:
    print(person)

beyonce
kelly
michelle
alicia
maryjblige
['John', 'Paul', 'George', 'Ringo']

## loop over a list within a list

In [20]:
# loop over the old guys in 'destiny_plus'
for person in destiny_plus[5]:
    print(person)

John
Paul
George
Ringo

### introducing a test

In [21]:
# what 'type' of variable is this anyway?
for person in destiny_plus:
    if type(person) is list:
        print("It's a list:", person)
    else:
        print(person)

beyonce
kelly
michelle
alicia
maryjblige
It's a list: ['John', 'Paul', 'George', 'Ringo']

### executing a nested `for` loop

In [23]:
# loop within a loop

i = 1
j = 1

for person in destiny_plus:
    if type(person) is list:
        for dude in person:
            print(dude)
            # print("old dude #" + str(i) + ": " + dude)
            # i += 1
    else:
        # print("diva #" + str(j) + ": " + person)
        # j += 1
        print(person)

beyonce
kelly
michelle
alicia
maryjblige
John
Paul
George
Ringo

### retrieve the index _and_ the value with `enumerate()`

In [29]:
# lots of flexibility with enumerate()
for i, member in enumerate(destiny_plus):
    if type(member) is list:
        for j, dude in enumerate(member):
            k = i+j
            print(k, dude)
    else:
        print(i, member)

0 beyonce
1 kelly
2 michelle
3 alicia
4 maryjblige
5 John
6 Paul
7 George
8 Ringo

## lists as strings

In [34]:
# gene sequence string: CAPS == exons, lower == intron

gene = 'ATGCCAGTttccggaaGTTCTAA'

# print the first exon: ATGCCAGT
print("first exon:", gene[:8])

# print the intron: ttccggaa 
print("intron:", gene[8:16])

# print the second exon: GTTCTAA
print("second exon:", gene[16:])

# print the start codon: ATG
print(gene[0:3])
print(gene[:3])

# print the stop codon: TAA
print("stop codon:", gene[-3:])

# print the CDS: ATGCCAGTGTTCTAA
print("CDS:", gene[:8] + gene[16:])

first exon: ATGCCAGT
intron: ttccggaa
second exon: GTTCTAA
ATG
ATG
stop codon: TAA
CDS: ATGCCAGTGTTCTAA